.navHeader {
  position: "static";
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;

  .subHeader {
    display: flex;
    align-items: center;
    margin: 0 100px;

    justify-content: space-between;
    .homeHeader {
      padding: 20px;
      .cloudLogo {
        g {
          #cloudBack {
            fill: rgb(42 237 110) !important;
          }
          #cloudLeft {
            fill: rgb(189 255 203) !important;
          }
          #cloudRight {
            fill: rgb(141 243 164) !important;
          }
        }
      }
    }

    ul {
      list-style: none;
    }
    .navList {
      display: flex;
      flex-direction: row;
      font-weight: 400;

      .navItem {
        color: black;
        text-decoration: none;
        padding: 0 20px 0 20px;
        &:hover {
          color: grey;
        }
        &.active {
          color: rgb(34, 236, 78);
          border-bottom: 2px solid #36e736;
          padding-bottom: 15px;
        }
      }
    }

    .rightNav {
      display: flex;
      align-items: center;
      justify-content: center;
      .currencyDiv {
        position: relative;
        display: flex;
        .currencyButton {
          background-color: inherit;
          border: none;
          color: black;
          padding: 15px 30px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
        }

        .currencyList {
          ul {
            position: absolute;
            right: 0;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: -1;
            visibility: hidden;
            margin-top: 50px;
            border-radius: 3px;
            transform: translateY(-2em);

            transition: all 0.3s ease 0s, visibility 0s linear,
              z-index 0s linear 0.01s;
            .currencyListItem {
              color: black;
              padding: 12px 16px;
              text-decoration: none;
              display: block;
              text-align: center;
              margin: 10px;
            }
            & li:hover {
              background-color: #eeeeee;
            }
          }
        }

        /* div ul > li:hover, &:hover .currencyButton {
              background-color: rgb(35, 44, 168);
            }*/

        &:hover,
        &:focus,
        &:focus-within {
          .currencyList {
            ul {
              opacity: 1;
              z-index: 1;
              transform: translateY(0);
              transition-delay: 0s, 0s, 0.3s;
              visibility: visible;
            }
          }

          .currencyButton {
            .currencyArrow {
              transform: none !important;
              transition: all 0.3s ease 0s;
              top: 10%;
            }
          }
        }
      }

      .cartOverlay {
        display: flex;
        position: relative;
        margin: 10px;

        .backdrop {
          display: none;
        }

        &:hover,
        &:focus,
        &:focus-within {
          .cartOverlayContent {
            visibility: visible;
            opacity: 1;
            z-index: 99;
            transform: translateY(0);
            transition-delay: 0s, 0s, 0.3s;
            display: block;
          }

          ~ .backdrop {
            display: block;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: black;
            opacity: 0.5;
            z-index: 2;
            margin-top: 85px;
          }
        }

        .cartButton {
          height: 25px;
          width: 25px;
          cursor: pointer;
          padding: 30px 20px;

          .cartCount {
            display: flex;
            align-items: center;
            width: 15px;
            justify-content: center;
            height: 15px;
            border-radius: 50%;
            background-color: red;
            color: white;
            padding: 2px 4px 5px 4px;
            position: absolute;
            top: 18px;
            left: 9px;
            font-size: 1.2rem;
            margin: 0px;
            transform: scaleX(-1);
          }
        }

        .cartOverlayContent {
          position: absolute;
          right: 0;
          background-color: #f9f9f9;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: -1;
          opacity: 0;
          visibility: hidden;
          margin-top: 70px;
          margin-left: 30px;
          width: 380px;

          padding: 20px;
          border-radius: 3px;
          transform: translateY(-2em);
          transition: all 0.3s ease 0s, visibility 0s linear,
            z-index 0s linear 0.01s;

          height: 400px;
          overflow: auto;

          .cartSummary {
            padding: 20px;
            display: flex;
            justify-content: space-between;
          }

          .cartOverlayButton {
            display: flex;
            flex-direction: row;
            .viewCart {
              background-color: inherit;
              border: none;
              padding: 15px 20px;
              text-align: center;
              text-decoration: none;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 16px;
              margin: 10px 10px;
              cursor: pointer;
              flex: 1;
            }
          }

          .cartItems {
            display: flex;
            flex-direction: row;
            padding: 5px;
            margin-bottom: 40px;

            .productAttributes {
              //font-family:'Raleway', sans-serif;
              display: flex;
              flex-direction: column;
              width: -webkit-fill-available;
              width: 100%;
            }

            .cartControls {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
              .cartControlItem {
                border: 2px solid black;
                //font-size: 20px;
                width: 26px;
                height: 26px;
                /* text-align: center; */
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
              }
            }

            .cartImage {
              background-size: cover;
              width: 80%;
              margin-left: 20px;
              background-position-x: center;
            }
          }
          .cartSummary {
            .cartSummaryTitle {
              font-family: "Roboto", sans-serif;
              font-weight: bold;
              font-size: 1.1rem;
            }
            .cartSummaryData {
              font-size: 0.85rem;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
