.productCapacityList, .productSizeList{
  .productCapacityBox , .productSizeBox {
      display: flex;
  align-items: center;
      .productCapacity , .productSize {
          border: 1px solid black;
          font-size: 20px;
          width: 50px;
          height: 50px;
          /* text-align: center; */
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 10px;

          input {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              
            }
            span{
                font-size: 18px;
              margin: 5px;
              width: 100%;
              text-align: center;
            }

             
  
            input[type="radio"] {
              appearance: none;
              background-color: #fff;
              margin: 0;
              font: inherit;
              color: currentColor;
              width: 3em;
              height: 3em;
              border: 0.15em solid currentColor;
              border-radius: 0;
              transform: translateY(-0.075em);
            }
            
        }

        

        
  }
}