.productDetails {
  display: flex;
  justify-content: center;
  margin: 100px;
  .miniImages {
    display: flex;
    flex-direction: column;
    width: 179px;
    flex: 1;
  }

  .mainImage {
    display: flex;
    justify-content: center;
    flex: 6;
  }

  .productAttributes {
    flex: 2;
    

    
    

    .AddCartButton {
      display: flex;
      flex-direction: row;
      padding: 20px 0 20px 0;
      width: 100%;
      button {
        background-color: inherit;
        border: none;
        padding: 15px 30px;
        text-align: center;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        margin: 10px 0;
        cursor: pointer;
        width: -webkit-fill-available;
        width: 100%;
      }
    }

    .productDescription{
      height: 250px;
      overflow: auto;
    }
  }
}
